/* Always show scrollbar */
html {
  overflow-y: scroll;
  height: 100%;
}
body {
  margin: auto;
}
body,
#main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.active {
  color: white;
}
a {
  color: #4682b4;
}
